@echo off

rem *** Path Configuration ***
call ..\environment.bat


echo ==========================
echo *** Parameters Setting ***
echo ==========================
set params="IMAGES_DIR=file:///%WorkPath%/images/" "GRAPHICS_DIR=file:///%WorkPath%/EM_DRIVER/XML_INPUT/graphics" "WorkPath=file:///%WorkPath%/EM_DRIVER"


rem SGML to XML conversion for future use.
echo ==============================
echo *** Converting SGML to XML ***
echo ==============================
for %%a in ("XML_INPUT\*.sgm") do (
	%omnimark% "XML_INPUT\%%~na%%~xa" -sb "%RenderPath%\omnimark\sgml2xml.xom" -of "XML_INPUT\%%~na.xml" -log "TEMP\%%~na_sgml2xml.err"
)

echo ====================
echo *** Start Render ***
echo ====================

for %%a in ("XML_INPUT\*.xml") do (

	echo ===================================
	echo 0   *** Deleting existing files ***
	echo ===================================	
	del TEMP\*.* /F /Q
	del PDF_OUTPUT\%%~na*
	copy em.dtd TEMP\em.dtd

	rem *** CV - copy "MasterTextEntities.xml" to TEMP
	copy ..\MasterTextEntities\MasterTextEntities*.xml TEMP

	echo ==========================================
	echo 1   *** FIXING PROCESSING INSTRUCTIONS ***
	echo ==========================================
	rem %omnimark% "XML_INPUT\%%~na%%~xa" -sb "%RenderPath%\omnimark\fix_pi.xom" -of "TEMP\%%~na_FIXED_PI.xml" -log "TEMP\%%~na_fix_pi.err"
	
	%omnimark% "XML_INPUT\%%~na%%~xa" -sb "%RenderPath%\omnimark\fix_line_break.xom" -of "TEMP\%%~na_FIXED_LINE_BREAK.xml" -log "TEMP\%%~na_fix_line_break.err"
	%omnimark% "TEMP\%%~na_FIXED_LINE_BREAK.xml" -sb "%RenderPath%\omnimark\fix_pi.xom" -of "TEMP\%%~na_FIXED_PI.xml" -log "TEMP\%%~na_fix_pi.err"

	echo ==========================
	echo 2   *** Updating GNBRs ***
	echo ==========================
	%omnimark% "TEMP\%%~na_FIXED_PI.xml" -sb "%RenderPath%\omnimark\update_gnbrs.xom" -of "TEMP\%%~na_UPDATED_GNBRs.xml" -d GsGraphicsDir "TEMP\%WorkPath%\EM_DRIVER\XML_INPUT\graphics" -log "TEMP\%%~na_update_gnbrs.err"
	
	echo ===========================
	echo 3   *** Propagating Rev ***
	echo ===========================
	rem copy %%~na_FIXED_PI.xml %%~na_PROPAGATED_REV.xml
	%omnimark% "TEMP\%%~na_UPDATED_GNBRs.xml" -sb "%RenderPath%\omnimark\propagate_rev.xom" -of "TEMP\%%~na_PROPAGATED_REV.xml" -log "TEMP\%%~na_propagate_rev.err"

	echo ==============================
	echo 4   *** Creating UPPER.xml ***
	echo ==============================
	%java_command% -cp %cp% net.sf.saxon.Transform "-versionmsg:off" "-s:TEMP\%%~na_PROPAGATED_REV.xml" "-xsl:%RenderPath%\shared\upperCase.xsl" "-o:TEMP\%%~na_UPPER%%~xa"

	echo ====================================================
	echo 5   *** XML to FO First Pass to collect LEP Data ***
	echo ====================================================
	%java_command% -cp %cp% net.sf.saxon.Transform "-versionmsg:off" "-s:TEMP\%%~na_UPPER%%~xa" "-xsl:%RenderPath%\EM_XSL\EM.xsl" "-o:TEMP\%%~na_lep.fo" %params% "LEP_PASS=1"

	echo =================================
	echo 5A   *** Strip fo:list-block ***
	echo =================================
	rem		Remove elements used to render foldout and landscape tables
	%java_command% -cp %cp% net.sf.saxon.Transform "-versionmsg:off" "-s:TEMP\%%~na_lep.fo" "-xsl:%RenderPath%\EM_XSL\strip_list-blocks.xsl" "-o:TEMP\%%~na_lep_stripped_list-block.fo"

	echo ====================================================
	echo 6   *** FO to XEP First Pass to collect LEP Data ***
	echo ====================================================
	%java_command% -cp %cp% com.renderx.xep.XSLDriver -DCONFIG=%xep_config% -fo "TEMP\%%~na_lep_stripped_list-block.fo" -xep "TEMP\%%~na_lep.xep"
	
	echo ==============================================================================
	echo 7   *** Extract LEP data to XML file from first pagination pass of RenderX ***
	echo ==============================================================================
	%java_command% -cp %cp% net.sf.saxon.Transform "-versionmsg:off" "-s:TEMP\%%~na_lep.xep" "-o:TEMP\%%~na_lepExtract.xml" "-xsl:%RenderPath%\shared\lepExtract.xsl"
	
	echo ====================================================
	echo 7A   *** Add Table Foldout Pages to LEP Extract ***
	echo ====================================================
	%omnimark% "TEMP\%%~na_lepExtract.xml" -sb "%RenderPath%\omnimark\lep_foldout_pages.xom" -d GsFilename "TEMP\%%~na" -of "TEMP\%%~na_lepExtract_foldout-pages.xml" -log "TEMP\%%~na_lep_foldout_pages.err"


echo ======================================
echo 7B   *** Add Point Pages to LEP Extract ***
echo ======================================
%omnimark% "TEMP\%%~na_lepExtract_foldout-pages.xml" -sb "%RenderPath%\omnimark\lep_point_pages.xom" -d GsFilename "TEMP\%%~na" -of "TEMP\%%~na_lepExtract_point-pages.xml" -log "TEMP\%%~na_lep_point_pages.err"

	
	echo =====================================================
	echo 7C   *** First Render of LEP Pages for page count ***
	echo =====================================================
	rem %java_command% -cp %cp% net.sf.saxon.Transform "-versionmsg:off" "-s:TEMP\%%~na_lepExtract_foldout-pages.xml" "-xsl:%RenderPath%\EM_XSL\rendeLep_EM.xsl" "-o:TEMP\%%~na_lepRender.fo" "LEP_PASS=1"
%java_command% -cp %cp% net.sf.saxon.Transform "-versionmsg:off" "-s:TEMP\%%~na_lepExtract_point-pages.xml" "-xsl:%RenderPath%\EM_XSL\rendeLep_EM.xsl" "-o:TEMP\%%~na_lepRender.fo" "LEP_PASS=1"


	%java_command% -cp %cp% com.renderx.xep.XSLDriver -DCONFIG=%xep_config% -fo "TEMP\%%~na_lepRender.fo" -xep "TEMP\%%~na_lepRender.xep"
	rem ***For Debug*** %java_command% -cp %cp% com.renderx.xep.XSLDriver -DCONFIG=%xep_config% -xep "%%~na_lepRender.xep" -pdf "%%~na_lepRender.pdf"
	
	echo ======================================================
	echo 7D   *** Second Render of LEP Pages for page count ***
	echo ======================================================
	%java_command% -cp %cp% net.sf.saxon.Transform "-versionmsg:off" "-s:TEMP\%%~na_lepExtract_point-pages.xml" "-xsl:%RenderPath%\EM_XSL\rendeLep_EM.xsl" "-o:TEMP\%%~na_lepRender_2.fo" "LEP_RENDER_FILE=file:///%WorkPath%/EM_DRIVER/TEMP/%%~na_lepRender.xep"
	%java_command% -cp %cp% com.renderx.xep.XSLDriver -DCONFIG=%xep_config% -fo "TEMP\%%~na_lepRender_2.fo" -xep "TEMP\%%~na_lepRender_2.xep"
		
	echo =====================
	echo 8   *** XML to FO ***
	echo =====================
	rem %java_command% -cp %cp% net.sf.saxon.Transform "-versionmsg:off" "-s:TEMP\%%~na_UPPER%%~xa" "-o:TEMP\%%~na.fo" "-xsl:%RenderPath%\EM_XSL\EM.xsl" %params% "LEP_EXTRACT_FILE=file:///%WorkPath%/EM_DRIVER/TEMP/%%~na_lepExtract_foldout-pages.xml" "LEP_RENDER_FILE=file:///%WorkPath%/EM_DRIVER/TEMP/%%~na_lepRender_2.xep"
%java_command% -cp %cp% net.sf.saxon.Transform "-versionmsg:off" "-s:TEMP\%%~na_UPPER%%~xa" "-o:TEMP\%%~na.fo" "-xsl:%RenderPath%\EM_XSL\EM.xsl" %params% "LEP_EXTRACT_FILE=file:///%WorkPath%/EM_DRIVER/TEMP/%%~na_lepExtract_point-pages.xml" "LEP_RENDER_FILE=file:///%WorkPath%/EM_DRIVER/TEMP/%%~na_lepRender_2.xep"

	echo =================================
	echo 8A   *** Strip fo:list-block ***
	echo =================================
	%java_command% -cp %cp% net.sf.saxon.Transform "-versionmsg:off" "-s:TEMP\%%~na.fo" "-xsl:%RenderPath%\EM_XSL\strip_list-blocks.xsl" "-o:TEMP\%%~na_stripped_list-block.fo"

	echo =====================
	echo 9   *** FO to XEP ***
	echo =====================
	%java_command% -cp %cp% com.renderx.xep.XSLDriver -DCONFIG=%xep_config% -fo "TEMP\%%~na_stripped_list-block.fo" -xep "TEMP\%%~na.xep"

	echo ==================================
	echo 10   *** XEP to Re-ordered XEP ***
	echo ==================================
	%java_command% -cp %cp% net.sf.saxon.Transform "-versionmsg:off" "-s:TEMP\%%~na.xep" "-o:TEMP\%%~na_2.xep" "-xsl:%RenderPath%\EM_XSL\reorderPages_EM.xsl"


echo ============================
echo 10A   *** Add Point Pages ***
echo ============================
%omnimark% "TEMP\%%~na_2.xep" -sb "%RenderPath%\omnimark\point_pages.xom" -d GsFilename "TEMP\%%~na" -of "TEMP\%%~na_2_point-pages.xep" -log "TEMP\%%~na_point_pages.err"


	echo ====================================
	echo 10B   *** Add Foldout Table Pages ***
	echo ====================================
	rem %omnimark% "TEMP\%%~na_2.xep" -sb "%RenderPath%\omnimark\foldout_pages.xom" -d GsFilename "TEMP\%%~na" -of "TEMP\%%~na_3.xep" -log "TEMP\%%~na_foldout_pages.err"
%omnimark% "TEMP\%%~na_2_point-pages.xep" -sb "%RenderPath%\omnimark\foldout_pages.xom" -d GsFilename "TEMP\%%~na" -of "TEMP\%%~na_3.xep" -log "TEMP\%%~na_foldout_pages.err"

	echo =====================================
	echo 11   *** Apply Effectivity to XEP ***
	echo =====================================
	%omnimark% "TEMP\%%~na_3.xep" -sb "%RenderPath%\omnimark\effectivity.xom" -of "TEMP\%%~na_4.xep" -log "TEMP\%%~na__effectivity.err"


	echo =====================================
	echo 12   *** Oversize Image Detection ***
	echo =====================================
	%omnimark% "TEMP\%%~na_4.xep" -sb "%RenderPath%\omnimark\oversize-image-check.xom" -of "TEMP\%%~na.junk" -d GsLogFileName "TEMP\oversize-image-check.log" -log "TEMP\%%~na_oversize_image_check.err"


	echo =========================================
	echo 13   *** Re-ordered XEP to PDF ***
	echo =========================================
	%java_command% -cp %cp% com.renderx.xep.XSLDriver -DCONFIG=%xep_config% -xep "TEMP\%%~na_4.xep" -pdf "PDF_OUTPUT\%%~na.pdf"


echo ==================
echo Date: %DATE%
echo Time: %TIME%
echo ==================

echo ==================
echo *** End Render ***
echo ==================

	rem *** Save document specific log files ***
	copy "TEMP\oversize-image-check.log" "PDF_OUTPUT\%%~na-oversize-image-check.log"
	copy "TEMP\run.log" "PDF_OUTPUT\%%~na-run.log"

)